doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Goal Tracker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap', rel='stylesheet') 
  body
    .flex-container
        a(href='/')
            h1.center Goal Tracker
    block content
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')  

    
